.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dropdown:hover .dropdown-menu {
  display: block;
  background-color: white;
  color: black;
}
.nav-custom{
  width: 50%;
  text-align: center;
}

.page {
  background-color: #E3EBF2;
  border-bottom: 2px solid #2596AF!important;
  color: #2596AF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  h1, h2 ,h3, h4, h5, p{
    color: white;
  }
  .page {
    background-color: #383838;
    color: white;
  }

  .ul-data {
    background-color: #272727!important;
  }

  .li-data {
    border: solid 2px #383838!important;
  }

  .page-link {
    background-color: #2696AF!important;
    border: 1px solid #272727!important;
    color: #fff!important;
  }
  .field-wrapper>label {
    color: #2696AF!important;
  }
  .field {
    color: #2696AF!important;
  }
  .junipero.junipero-tabs>ul.tabs-titles {
    border-bottom: 1px solid #383838!important;
  }

  .junipero.junipero-tabs.theme-default>ul.tabs-titles li.active a{
    color: #2696AF!important;
  }

  .junipero.junipero-tabs.theme-default>ul.tabs-titles a{
    color: #7f8184!important;
  }
  .nav-tabs {
    border-bottom: 1px solid #383838!important;
  }
  .nav-tabs .nav-link{
    border: 1px solid #383838!important;

  }

}
