.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  color: white;
}
.details {
  background-color: rgba(28, 29, 31, 0.93);
  height: auto;
  padding: 10px;
}
.img-details {
  margin-top: 15px;
}
.btn-add {
  margin-top: 15px;
}

.color-background {
  background-color: #1C1D1F;
}

/* Sidebarr */

.side-overlay{
  left: auto!important;
}

.state {
  margin: 0 20px;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.state-to-see {
  background-color: #5da0ff;
}
.state-in-progress {
  background-color: #F5A622;
}
.state-done {
  background-color: #1FB790;
}
