.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  display: flex;
  color: white;
}
.details {
  background-color: rgba(28, 29, 31, 0.93);
  height: auto;
  padding: 10px;
}

.details-content {
  margin-bottom: 40px;
}

.details-content>h2 {
  margin-bottom: 20px;
}

.details-content>p>span {
  font-weight: 500;
}

.img-details {
  margin-top: 15px;
}
.btn-add {
  margin-top: 15px;
}

.color-background {
  background-color: #1C1D1F;
}

/* Sidebarr */

.side-overlay{
  left: auto!important;
}

.state {
  margin: 0 20px;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
  color: #5da0ff;
}

.state-to_see {
  background-color: #5da0ff;
  color: white;
}
.state-watching {
  background-color: #F5A622;
}
.state-seen {
  background-color: #1FB790;
  color: white;
}
