h1 {
  text-align: center;
}
h4 {
  text-align: center;
}
.user-img {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.log-btn {
  display: flex!important;
  align-items: center!important;
  padding: 0 10px 0 !important;
}
.logout-btn {
  padding: 5px 20px;
}
.control {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
}

.button-pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-pagination>button{
  margin: 20px;
}
