h2 {
  text-align: center;
}
ul {
  background-color: #FCFCFC;
}
.tabs-titles{
  display: flex!important;
  justify-content: center;
}
.btn-add {
  margin-left: 10px;
}
.redirect-log-btn {
  position: absolute;
  right: 30px;
  top: 10%;
}
