h2 {
  text-align: center;
}
.ul-data {
  background-color: #FCFCFC;
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.li-data {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border: solid 2px #E3EBF2;
  border-radius: 10px;
  width: 23%;
}

.search {
    display: flex;
    justify-content: center;
}
.search-field {
  width: 50%;
}

h6 {
  padding: 10px 0 0 10px;
}
.film {
  display: flex;
  flex-direction: column;
}

.img-data {
  margin: 0 10px;
}

.tabs-titles{
  display: flex!important;
  justify-content: center;
}
.btn-add {
  margin-left: 10px;
  align-self: start;
}
.redirect-log-btn {
  position: absolute;
  right: 30px;
  top: 95px;
}
.redirect-log-btn:hover {
  cursor: pointer
}
.pagination {
  justify-content: center;
  padding: 10px 0;
}
